{% extends "base.html" %}

{% block title %}Template Trainingsplan erstellen{% endblock %}

{% block content %}
  <div class="page-wrap">
    <h2 class="page-title">Template erstellen</h2>
    <div class="s-card">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.title.label(class="small font-weight-bold") }} {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description.label(class="small font-weight-bold") }} {{ form.description(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary btn-block") }}
      </form>
    </div>
    <a href="{{ url_for('admin_template_plans') }}" class="back-link">&larr; Zurück zu Templates</a>
  </div>
{% endblock %}
