<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Übung bearbeiten</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-4">
      <h2>Übung bearbeiten</h2>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary btn-block", value="Speichern") }}
        </div>
      </form>
      <a href="{{ url_for('training_plan_detail', training_plan_id=exercise.training_plan_id) }}" class="btn btn-secondary btn-block">Zurück</a>
    </div>
  </body>
</html>
