{% extends "base.html" %}

{% block title %}Registrieren{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mb-4">Registrieren</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label }} {{ form.username(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.confirm.label }} {{ form.confirm(class="form-control") }}
      </div>
      {% if form.recaptcha is not none %}
        <div class="form-group">
          {{ form.recaptcha }}
        </div>
      {% endif %}
      <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-block") }}
      </div>
    </form>
    <p>Bereits registriert? <a href="{{ url_for('login') }}">Login</a></p>
  </div>
{% endblock %}
